.common{
    background-color: grey;
    padding: 20px;
    margin: 30px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
}

.cssPadding>h1, .cssBorder>h1, .cssMargin>h1{
    background-color: teal;
    color: #fff;
    border-radius: 5px;
}

.cssPadding>h1:nth-child(1){
    padding: 50px;
}

.cssPadding>h1:nth-child(2){
    padding: 25px 75px;
}

.cssPadding>h1:nth-child(3){
    padding: 25px 50px 75px;
}

.cssPadding>h1:nth-child(4){
    padding: 25px 50px 75px 100px;
}

.cssBorder>h1{
    padding: 20px;
    border: 5px;
    border-color: darkblue red yellow black;
    border-style: solid;
}

.cssBorder>h1:nth-child(1){
    padding: 20px;
    border: 10px;
    border-color: black darkblue red yellow;
    border-style: solid;
}

.cssBorder>h1:nth-child(2){
    padding: 20px;
    border: 10px;
    border-color: yellow black darkblue red;
    border-style: solid;
}

.cssBorder>h1:nth-child(3){
    padding: 20px;
    border: 10px;
    border-color: red yellow black darkblue;
    border-style: solid;
}

.cssBorder>h1:nth-child(4){
    padding: 20px;
    border: 10px;
    border-color: darkblue red yellow black;
    border-style: solid;
}

.cssMargin>h1:nth-child(1){
    margin: 50px;
}

.cssMargin>h1:nth-child(2){
    margin: 25px 75px;
}

.cssMargin>h1:nth-child(3){
    margin: 25px 50px 75px;
}

.cssMargin>h1:nth-child(4){
    margin: 25px 50px 75px 100px;
}

.cssBoxModel{
    background-color: bisque;
    padding: 20px;
    border: 5px solid #000;
    margin: 30px;
    color: #808080;
    /* background-clip: content-box; */
}